@use "../sass/abstracts/variables" as *;

.wp-block-custom-block-package-dynamic-images.is-style-banner-hero {
	width: 100%;

	.wp-block-custom-block-package-dynamic-images__overlay {
		width: min(120%, 100vw);

		@media (max-width: $bp-tablet) {
			width: 100%;
		}

		@media (max-width: $bp-mobile) {
			display: none;
		}
	}
}
