@use "../../abstracts/variables" as *;

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
	color: palette(focus-text) !important;
	background: palette(focus-bg) !important;
	border-color: palette(focus-bg) !important;
	box-shadow: 0 -0.125rem palette(focus-bg), 0 0.25rem palette(focus-text);
	text-decoration: none;
	outline: 0.1875rem solid transparent;

	span {
		color: palette(focus-text) !important;
	}

	i,
	.icon {
		background-color: palette(focus-text) !important;
	}
}
