@use "../abstracts/variables" as *;

.gradient-heading {
	padding: var(--space-xl) var(--space-xs);
	letter-spacing: var(--tracking-wide);
	text-transform: uppercase;
	background: var(--wp--preset--gradient--gradient-90-deg);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: var(--fw-regular);
	font-size: var(--fs-body);

	width: 100%;

	@media (max-width: $bp-tablet) {
		font-size: var(--fs-base);
		padding: 3.125rem 0;
	}

}
