$body-color: #ffffff;
$color-black: #000;
$color-link: #000;
$color-green: #000;
$color-main: #000;

$max-width: 1200px;

$bp-desktop: 1400px;
$bp-tablet: 800px;
$bp-mobile: 480px;

$BG: linear-gradient(to left bottom, #000 0%, #333 100%);
$BG-D: linear-gradient(to bottom, #000 0%, #333 100%);
