@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 0.0625rem;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 0.0625rem;
}

// Global Typography for Pages and Posts
.single-post__content-container,
.page__content-container {

	width: 100%;
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding: space(20) space(5);
	display: block;

	@media (max-width: $bp-small) {
		padding: space(8) space(6); // larger side padding on small screens
	}

	@include content-typography;
}
