@use "../abstracts/variables" as *;

.single-post {

	&__header {
		width: 100%;
		max-width: var(--content-max-width);
		margin-inline: auto;
	}

	&__title {
		padding: space(5) space(5) space(8);
		margin-bottom: 0;

		@include type(h1);

		text-transform: uppercase;
		background: var(--wp--preset--gradient--gradient-90-deg);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		font-weight: var(--fw-regular);

		width: 100%;

		@media (max-width: $bp-tablet) {
			padding: space(12) 0;
		}

	}
}
